<div class="menu-content">
	<div class="module">
		<div class="module-title">
			<div>1</div>
			<span>Організаційна інформація</span>
		</div>
		<ul>
			<li class="lesson">
				<a [routerLink] = "'/student/course/33123/1233'">Урок 1 : Інформація</a>
			</li>
			<li class="lesson">
				<a [routerLink] = "'/student/course/55123/1233'">Урок 2 : Вступний урок. Організаційна інформація.</a>
			</li>
		</ul>
	</div>
	<div class="module">
		<div class="module-title">
			<div>2</div>
			<span>Модуль 1. Фундамент коучингової взаємодії</span>
		</div>
		<ul>
			<li class="lesson">
				<a [routerLink] = "'/student/course/66123/1233'">Урок 1 : Філософія коучингу</a>
			</li>
			<li class="lesson">
				<a [routerLink] = "'/student/course/77123/1233'">Урок 2 : Етичні норми і стандарти</a>
			</li>
			<li class="lesson">
				<a [routerLink] = "'/student/course/8123/1233'">Урок 3 : Втілення коучингового світогляду</a>
			</li>
		</ul>
	</div>
</div>
