<div> 
	<ul class="remote-menu">
		<li><a routerLink="/">Home</a></li>
		<li><a routerLink="student">Student</a></li>
		<li><a routerLink="teacher">Teacher</a></li>
		<li><a routerLink="admin">Admin</a></li>
		<li><a routerLink="landing">Landing</a></li>
	</ul>
	<learnplatform-header-section></learnplatform-header-section>

	<figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
		<img class="w-24 h-24 rounded-full mx-" src="https://tailwindcss.com/_next/static/media/sarah-dayan.a620c98f.jpg" alt="" width="384" height="512">
		<div class="pt-6 space-y-4">
			<blockquote>
			<p class="text-lg">
				“Tailwind CSS is the only framework that I've seen scale
				on large teams. It’s easy to customize, adapts to any design,
				and the build size is tiny.”
			</p>
			</blockquote>
			<figcaption>
			<div>
				Sarah Dayan
			</div>
			<div>
				Staff Engineer, Algolia
			</div>
			</figcaption>
		</div>
	</figure>

</div>
